
.leftbar {
     background: #EFEEEC;
     height: 675px;
     padding: 0px;
     float: left;
     margin: 0px;
     width: 20%;
}
.leftbartwo {
     background: #EFEEEC;
     height: 1000px;
     padding: 0px;
     float: left;
     margin: 0px;
     width: 288px;
     margin-top: 15px;
}
.header {
     background: url(http://2.bp.blogspot.com/-Kzdn0oFM7RI/UAtbeky-mVI/AAAAAAAADdg/lGp6kKgdn0U/s1600/hearblack_kinfolk_watertonswim.jpg);
     height: 300px;
     padding: 0px;
     float: right;
     margin: 0px;
     width: 80%;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     margin-top: 0px;
     margin-bottom: 10px;
}

.container {
     margin: 0 auto;
     width: 980px;
     margin-top: 180px
}
.box {
     width: 300px; 
     height: 300px;
     float: left;
     margin: 5px 5px 5px 5px;
     background-size: cover;
     margin-top: 25px;
     position: relative;
}
.box:hover:after {
     position: absolute;
     z-index: 1;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     content: "";
     background: rgba(249, 248, 246, 0.60);
     transition: all 0.5s ease;
}
.SquareTitles {
     font-family: 'Raleway', 'sans-serif';
     color: white;
     size: 14px;
     height: auto;
     margin-top: 240px;
     z-index: 1;
}
.overlay {
     background: rgba(249, 248, 246, 0.60);
     bottom: 178px;
     left: 98px;
     position: absolute;
     right: 8px;
     top: 24px;
     margin-left: 195px;
}
.header-text {
     font-family: 'Cabin Sketch', 'cursive';
     color: #4F4E4C;
     font-size: 45px;
     z-index: 1;
     text-align: center;
     position: relative;
}
.header-text2 {
     font-family: 'Cabin Sketch', 'cursive';
     color: #4F4E4C;
     font-size: 25px;
     z-index: 1;
     text-align: center;
     position: relative;
     margin-top: -80px;
}
.topbar {
     background-color: #4F4E4C;
     background-repeat: no-repeat;
     background-position: center;
     background-size: 100% 100%;
     height: 25px;
     width: 100%;
     position: relative;
}
.topbar h2 {
     font-family: 'Cabin Sketch', 'cursive';
     color: white;
     font-size: 15px;
     text-align: center;
     position: relative;
     margin-top: -9px;
     padding-top: 3px;
}
.sidebarimage {
     margin-top: 2px;
     padding-top: 0px;
     margin-bottom: -4px;
     left: 100px;
     display: inline-block;
     padding-left: 6px;
}
.sidebarimage2 {
     margin-top: 30px;
     padding-top: 0px;
     margin-bottom: -25px;
     margin-left: 110px;
     display: inline-block;
     padding-left: 6px;
}
.sidebartext {
     text-align: center;
     margin-left: -55px;
}
.sidebartext a {
     font-family: 'Raleway', 'sans-serif';
     color: black;
     font-size: 20px;
     line-height: 80px;
     text-decoration: none;
}
.sidebartext a:hover{
     font-weight: bold;
}
.sidebartexttwo {
     margin-top: 50px;
     text-align: center;
}
.sidebartexttwo a {
     font-family: 'Raleway', 'sans-serif';
     color: black;
     line-height: 40px;
     margin-left: -55px;
     text-decoration: none;
     font-size: 15px;
}
.sidebartextthree {
     font-family: 'Raleway', 'sans-serif';
     font-color: black;
     font-size: 10px;
     text-align: center;
     line-height: 20px;
     margin-left: -55px;
     text-decoration: none;
     margin-top: 50px;
} 

